<div class="container-wrapper">
  <div class="container-full">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

          <h1>らぶよがっ！</h1>
          <p class="lead">〜俺と恋するヨガ、はじめないか？〜</p>

          <br><br><br>

          <form class="col-lg-12">
            <div class="input-group" style="width:380px;text-align:center;margin:0 auto;">



              <input class="form-control input-lg" placeholder="あなたの名前は？" type="text">
              <input class="form-control input-lg" placeholder="年齢は？" type="number">
            </div>
          </form>
          <br><button type="button" class="btn btn-danger btn-lg">恋を始める！</button>
        </div>


        </div> <!-- /row -->

    <br><br><br><br><br>

  </div> <!-- /container full -->
</div>

<div class="container">

    <hr>

    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading"><h3>素敵な彼に出会える！</h3></div>
            <div class="panel-body">現実にはなかなかいないイケメン俺様な彼と出会えちゃう！しかもタダで、ってそれめっちゃお得じゃない！？（笑）
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-warning">
            <div class="panel-heading"><h3>本格的なヨガレッスン</h3></div>
            <div class="panel-body">ヨガの専門家が監修しているから、画面に出てくるやり方を真似するだけで、未経験なアナタでも簡単本格的なにヨガが出来ちゃう！
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading"><h3>どこでも出来ちゃう！？</h3></div>
            <div class="panel-body">スマートフォンにも対応しているから、外でもしっかりヨガを…なんて場所を選ばずに遊べちゃうのも、らぶよがっ！の良いところ。
            </div>
          </div>
        </div>
    </div>

  <div class="row">
        <div class="col-lg-12">
        <br><br>
        <p class="pull-left">
          <audio src="http://amachamusic.chagasi.com/mp3/chocolatedaisakusen.mp3" autoplay></audio>
        </p>
          <p class="pull-right">&nbsp; ©Copyright 2015 らぶよがっ！制作委員会</p>
        <br><br>
        </div>
    </div>
</div>
