<br>

<div class="top-wrapper">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

          <img class="image-first" src="http://blog-imgs-51.fc2.com/b/l/o/bloomplanet/hanken2.jpg">

          <br>

        </div>

      </div> <!-- /row -->

  </div> <!-- /container full -->
</div>

<div class="col-md-4">
</div>

<div class="col-md-4 text-left v-left well" style="width:380px;text-align:left;margin:0 auto;">

  <p><b>コーチ：<br>こんにちは！はじめまして、君が今日から僕のレッスンを受ける……<%= @yoga.name %>さんかな？よろしく！</b></p>

    <div class="text-right">
      <button type="button" class="btn btn-default btn-sm">次へ</button>
    </div>

</div>

<div class="col-md-4">

</div>
